.project-information{
  text-align: center;
  background: #cdcdcd;
  padding: 5px;
  border: 1px solid #afaeae;
}

.project-form{
  margin-bottom: 10px;
}

.input-label{
  margin-top: 15px;
}

table {
  width: 100%;
  border: 1px solid #cdcdcd;
}

table th, table td {
  padding:3px;
}

.add-new-contact {
  float: right;
  background: #0084ff;
  color: white;
  padding: 5px;
  font-weight: 100;
  border-radius: 3px;
}

.client-contacts{
  padding-right: 0;
}

.switch-btn {
  padding-top: 5px;
}
