<div class="col-md-12">
  <div class="col-md-12">
    <h4 class="project-information">Project Information</h4>
    <form class="col-md-12 row project-form">

      <div class="col-md-6 col-sm-12 row">
          <label class="col-md-3 col-sm-12 input-label">Project Number</label>
          <input type="text" class="form-control col-md-9 col-sm-12" ngModel name="project_number" placeholder="Project Number"/>
      </div>
      <div class="col-md-6 col-sm-12 row">
          <label class="col-md-3 col-sm-12 input-label">Client Name</label>
          <input type="text" class="form-control col-md-9 col-sm-12" ngModel name="client_name" placeholder="Client Name"/>
      </div>
      <div class="col-md-6 col-sm-12 row">
          <label class="col-md-3 col-sm-12 input-label">Project Name</label>
          <input type="text" class="form-control col-md-9 col-sm-12" ngModel name="project_name" placeholder="Project Name"/>
      </div>
      <div class="col-md-6 col-sm-12 row">
          <label class="col-md-3 col-sm-12 input-label">Project Owner</label>
          <input type="text" class="form-control col-md-9 col-sm-12" ngModel name="project_owner" placeholder="Project Owner"/>
      </div>
      <div class="col-md-6 col-sm-12 row">
          <label class="col-md-3 col-sm-12 input-label">Project Code</label>
          <input type="text" class="form-control col-md-9 col-sm-12" ngModel name="project_code" placeholder="Project Code"/>
      </div>
      <div class="col-md-6 col-sm-12 row">
          <label class="col-md-3 col-sm-12 input-label">Project Team</label>
          <input type="text" class="form-control col-md-9 col-sm-12" ngModel name="project_team" placeholder="Project Team"/>
      </div>
      <div class="col-md-6 col-sm-12 row padding-right-0">
        <div class="col-md-12 col-sm-12 row client-contacts">
          <label class="col-md-12 col-sm-12 input-label padding-right-0">Client Contacts
            <a href="#" class="add-new-contact">Add new contact</a>
          </label>
          <div class="col-md-12 col-sm-12 padding-right-0">
            <table border="1">
              <tr><th>Name</th><th>Email</th></tr>
              <tr><td>a</td><td>a@a.com</td></tr>
              <tr><td>b</td><td>b@b.com</td></tr>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 row padding-right-0">

        <div class="col-md-12 col-sm-12 row padding-right-0">
          <label class="col-md-3 col-sm-12 input-label">Project Brief</label>
          <textarea rows="7" class="form-control col-md-9 col-sm-12" ngModel name="project_brief" placeholder="Project Brief"></textarea>
        </div>
        <div class="col-md-12 col-sm-12 row padding-right-0">
            <label class="col-md-3 col-sm-12 input-label">Date Created</label>
            <input type="text" class="form-control col-md-9 col-sm-12" ngModel name="project_team" placeholder="Date Created"/>
        </div>
        <div class="col-md-12 col-sm-12 row padding-right-0">
            <label class="col-md-3 col-sm-12 input-label">Project Status</label>
            <div class="col-md-9 col-sm-12 switch-btn"><ui-switch></ui-switch></div>
            <!-- <div class="col-md-9 col-sm-12"><ui-switch [(ngModel)]="enable"></ui-switch></div> -->
        </div>

      </div>




    </form>
  </div>
</div>
