.error {
  color: red;
  font-weight: bold;
}

.input-label {
  padding-top: 15px;
  float: left;
}

.brows-job-category {
  margin-bottom: 10px;
}

.popup-modal {
  position: fixed;
  width: 100%;
  z-index: 999999;
  background: #000000c4;
  height: 100%;
  top: 0;
  left: 0;
}

.modal-body {
  padding: 10px;
}

table {
  width: 100%;
  border: 1px solid #d8d8d8;
}

table th,  table td {
  padding: 3px;
}

.checkbox {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}


