<div class="expert-short-profile row">
    <div class="col-md-2 col-sm-6">
      <div><img src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/7_avatar-512.png" class="profile-pic"/></div>
      <h6>Rashid Rasheed</h6>
      <img src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-22-512.png" class="linkedin-icon"/>
      <label class="profile-select"><input type="checkbox"/> Select</label>

    </div>

    <div class="col-md-4 col-sm-6">
      <div class="col-md-12 col-sm-12 row">
        <div class="col-md-6 col-sm-12 info-label">Telephone:</div>
        <div class="col-md-6 col-sm-12">03006565656</div>
      </div>
      <div class="col-md-12 col-sm-12 row margin-top-10">
        <div class="col-md-6 col-sm-12 info-label">Current Position:</div>
        <div class="col-md-6 col-sm-12">Software Engineer</div>
      </div>
      <div class="col-md-12 col-sm-12 row margin-top-10">
        <div class="col-md-6 col-sm-12 info-label">Previous Positions:</div>
        <div class="col-md-6 col-sm-12 previous-positions">
          <p>Software Engineer</p>
          <p>Software Engineer</p>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 row margin-top-10">
        <div class="col-md-6 col-sm-12 info-label">Rating Comments:</div>
        <div class="col-md-6 col-sm-12 previous-positions">
          Software Engineer
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="col-md-12 col-sm-12 row">
        <div class="col-md-6 col-sm-12 info-label">Email:</div>
        <div class="col-md-6 col-sm-12">bob@bob.com</div>
      </div>
      <div class="col-md-12 col-sm-12 row margin-top-10">
        <div class="col-md-6 col-sm-12 info-label">Location:</div>
        <div class="col-md-6 col-sm-12">Lahore</div>
      </div>
      <div class="col-md-12 col-sm-12 row margin-top-10">
        <div class="col-md-6 col-sm-12 info-label">Default Rate:</div>
        <div class="col-md-6 col-sm-12">50/hr USD</div>
      </div>
      <div class="col-md-12 col-sm-12 row margin-top-10">
        <div class="col-md-12 col-sm-12 info-label">Projects</div>
        <div class="col-md-12 col-sm-12 projects">
          <table border="1">
            <tr><th>Name</th><th>Started</th><th>Client</th></tr>
            <tr><td>Name</td><td>Started</td><td>Client</td></tr>
            <tr><td>Name</td><td>Started</td><td>Client</td></tr>
            <tr><td>Name</td><td>Started</td><td>Client</td></tr>
            <tr><td>Name</td><td>Started</td><td>Client</td></tr>
            <tr><td>Name</td><td>Started</td><td>Client</td></tr>
            <tr><td>Name</td><td>Started</td><td>Client</td></tr>
            <tr><td>Name</td><td>Started</td><td>Client</td></tr>
            <tr><td>Name</td><td>Started</td><td>Client</td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
