<div class="clearfix"></div>
<section class="bottom-search-form">
  <div class="container">
    <div class="row">
      <form class="bt-form">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <input
              type="text"
              class="form-control"
              placeholder="First Name"
            />
          </div>
          <div class="col-md-4 col-sm-6">
            <input type="text" class="form-control" id="companies" placeholder="Last Name" />
          </div>
          <div class="col-md-4 col-sm-6">
            <input type="text" class="form-control" id="location" placeholder="Search Free Words" />
          </div>
          <div class="col-md-4 col-sm-6">
            <input type="text" class="form-control" id="cempl" placeholder="Current Employer" />
          </div>
          <div class="col-md-4 col-sm-6">
            <input type="text" class="form-control" id="preemp" placeholder="Previous Employer" />
          </div>
          <div class="col-md-4 col-sm-6">
            <input type="text" class="form-control" id="projectasign" placeholder="Project Assign To" />
          </div>
          <div class="col-md-4 col-sm-6">
            <select id="choose-city" class="form-control">
              <option>List of countries</option>
              <option>Chandigarh</option>
              <option>London</option>
              <option>England</option>
              <option>Pratapcity</option>
              <option>Ukrain</option>
              <option>Wilangana</option>
            </select>
          </div>
         
          
          <div class="col-md-4 col-sm-6">
            <select class="form-control">
              <option>By Region</option>
              <option>Information Technology</option>
              <option>Mechanical</option>
              <option>Hardware</option>
            </select>
          </div>
          <div class="col-md-4 col-sm-6">
            <button type="submit" class="btn btn-primary">Search Expert</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="main-heading">
        <h2>Browse Jobs By <span>Category</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="category-box" data-aos="fade-up">
          <div class="category-desc">
            <div class="category-icon">
              <i class="icon-bargraph" aria-hidden="true"></i
              ><i class="icon-bargraph abs-icon" aria-hidden="true"></i>
            </div>
            <div class="category-detail category-desc-text">
              <h4><a href="#">Accounting & Finance</a></h4>
              <p>122 Jobs</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="category-box" data-aos="fade-up">
          <div class="category-desc">
            <div class="category-icon">
              <i class="icon-tools-2" aria-hidden="true"></i
              ><i class="icon-tools-2 abs-icon" aria-hidden="true"></i>
            </div>
            <div class="category-detail category-desc-text">
              <h4><a href="#">Automotive Jobs</a></h4>
              <p>155 Jobs</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="category-box" data-aos="fade-up">
          <div class="category-desc">
            <div class="category-icon">
              <i class="icon-briefcase" aria-hidden="true"></i
              ><i class="icon-briefcase abs-icon" aria-hidden="true"></i>
            </div>
            <div class="category-detail category-desc-text">
              <h4><a href="#">Business</a></h4>
              <p>300 Jobs</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="category-box" data-aos="fade-up">
          <div class="category-desc">
            <div class="category-icon">
              <i class="icon-edit" aria-hidden="true"></i
              ><i class="icon-edit abs-icon" aria-hidden="true"></i>
            </div>
            <div class="category-detail category-desc-text">
              <h4><a href="#">Education Training</a></h4>
              <p>80 Jobs</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="category-box" data-aos="fade-up">
          <div class="category-desc">
            <div class="category-icon">
              <i class="icon-heart" aria-hidden="true"></i
              ><i class="icon-heart abs-icon" aria-hidden="true"></i>
            </div>
            <div class="category-detail category-desc-text">
              <h4><a href="#">Healthcare</a></h4>
              <p>120 Jobs</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="category-box" data-aos="fade-up">
          <div class="category-desc">
            <div class="category-icon">
              <i class="icon-wine" aria-hidden="true"></i
              ><i class="icon-wine abs-icon" aria-hidden="true"></i>
            </div>
            <div class="category-detail category-desc-text">
              <h4><a href="#">Restaurant & Food</a></h4>
              <p>78 Jobs</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="category-box" data-aos="fade-up">
          <div class="category-desc">
            <div class="category-icon">
              <i class="icon-map" aria-hidden="true"></i
              ><i class="icon-map abs-icon" aria-hidden="true"></i>
            </div>
            <div class="category-detail category-desc-text">
              <h4><a href="#">Transportation</a></h4>
              <p>90 Jobs</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="category-box" data-aos="fade-up">
          <div class="category-desc">
            <div class="category-icon">
              <i class="icon-desktop" aria-hidden="true"></i
              ><i class="icon-desktop abs-icon" aria-hidden="true"></i>
            </div>
            <div class="category-detail category-desc-text">
              <h4><a href="#">Telecommunications</a></h4>
              <p>210 Jobs</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <section class="video-sec dark" id="video" style="background-image:url(assets/img/banner-10.jpg);">
            <div class="container">
                <div class="row">
                    <div class="main-heading">
                        <p>Best For Your Projects</p>
                        <h2>Watch Our <span>video</span></h2></div>
                </div>
                <div class="video-part"><a href="#" data-toggle="modal" data-target="#my-video" class="video-btn"><i class="fa fa-play"></i></a></div>
            </div>
        </section>


    <section class="brows-job-category">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>We found 477 matches Expert, you are watching 7 to 27</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
    
                    <!-- Single Job List -->
                    <div class="item-click">
                        <article>
                            <div class="brows-job-list">
                                <div class="col-md-6 col-sm-6">
                                    <div class="item-fl-box">
                                        <div class="brows-job-company-img">
                                            <a href="job-detail.html"><img src="assets\img\com-1.jpg" class="img-responsive"
                                                    alt=""></a>
                                        </div>
                                        <div class="brows-job-position">
                                            <h3><a href="job-apply-detail.html">Digital Marketing Manager</a></h3>
                                            <p>
                                                <span>Autodesk</span><span class="brows-job-sallery"><i
                                                        class="fa fa-money"></i>$750 - 800</span>
                                                <span class="job-type cl-success bg-trans-success">Full Time</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="brows-job-location">
                                        <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="brows-job-link">
                                        <a href="#" class="btn btn-default">View Profile</a>
                                    </div>
                                </div>
                            </div>
                            <span class="tg-themetag tg-featuretag">Premium</span>
                        </article>
                    </div>
    
                    <!-- Single Job List -->
                    <div class="item-click">
                        <article>
                            <div class="brows-job-list">
                                <div class="col-md-6 col-sm-6">
                                    <div class="item-fl-box">
                                        <div class="brows-job-company-img">
                                            <a href="job-detail.html"><img src="assets\img\com-2.jpg" class="img-responsive"
                                                    alt=""></a>
                                        </div>
                                        <div class="brows-job-position">
                                            <h3><a href="job-apply-detail.html">Compensation Analyst</a></h3>
                                            <p>
                                                <span>Google</span><span class="brows-job-sallery"><i
                                                        class="fa fa-money"></i>$810 - 900</span>
                                                <span class="job-type bg-trans-warning cl-warning">Part Time</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="brows-job-location">
                                        <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="brows-job-link">
                                        <a href="job-apply-detail.html" class="btn btn-default">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
    
                    <!-- Single Job List -->
                    <div class="item-click">
                        <article>
                            <div class="brows-job-list">
                                <div class="col-md-6 col-sm-6">
                                    <div class="item-fl-box">
                                        <div class="brows-job-company-img">
                                            <a href="job-detail.html"><img src="assets\img\com-3.jpg" class="img-responsive"
                                                    alt=""></a>
                                        </div>
                                        <div class="brows-job-position">
                                            <h3><a href="job-apply-detail.html">Investment Banker</a></h3>
                                            <p>
                                                <span>Honda</span><span class="brows-job-sallery"><i
                                                        class="fa fa-money"></i>$800 - 910</span>
                                                <span class="job-type bg-trans-primary cl-primary">Freelancer</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="brows-job-location">
                                        <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="brows-job-link">
                                        <a href="job-apply-detail.html" class="btn btn-default">View Profile</a>
                                    </div>
                                </div>
                            </div>
                            <span class="tg-themetag tg-featuretag">Premium</span>
                        </article>
                    </div>
    
                    <!-- Single Job List -->
                    <div class="item-click">
                        <article>
                            <div class="brows-job-list">
                                <div class="col-md-6 col-sm-6">
                                    <div class="item-fl-box">
                                        <div class="brows-job-company-img">
                                            <a href="job-detail.html"><img src="assets\img\com-3.jpg" class="img-responsive"
                                                    alt=""></a>
                                        </div>
                                        <div class="brows-job-position">
                                            <h3><a href="job-apply-detail.html">Financial Analyst</a></h3>
                                            <p>
                                                <span>Microsoft</span><span class="brows-job-sallery"><i
                                                        class="fa fa-money"></i>$580 - 600</span>
                                                <span class="job-type bg-trans-success cl-success">Full Time</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="brows-job-location">
                                        <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="brows-job-link">
                                        <a href="job-apply-detail.html" class="btn btn-default">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
    
                    <!-- Single Job List -->
                    <div class="item-click">
                        <article>
                            <div class="brows-job-list">
                                <div class="col-md-6 col-sm-6">
                                    <div class="item-fl-box">
                                        <div class="brows-job-company-img">
                                            <a href="job-detail.html"><img src="assets\img\com-4.jpg" class="img-responsive"
                                                    alt=""></a>
                                        </div>
                                        <div class="brows-job-position">
                                            <h3><a href="job-apply-detail.html">Service Representative</a></h3>
                                            <p>
                                                <span>Autodesk</span><span class="brows-job-sallery"><i
                                                        class="fa fa-money"></i>$800 - 900</span>
                                                <span class="job-type bg-trans-denger cl-danger">Enternship</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="brows-job-location">
                                        <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="brows-job-link">
                                        <a href="job-apply-detail.html" class="btn btn-default">View Profile</a>
                                    </div>
                                </div>
                            </div>
                            <span class="tg-themetag tg-featuretag">Premium</span>
                        </article>
                    </div>
    
                    <!-- Single Job List -->
                    <div class="item-click">
                        <article>
                            <div class="brows-job-list">
                                <div class="col-md-6 col-sm-6">
                                    <div class="item-fl-box">
                                        <div class="brows-job-company-img">
                                            <a href="job-detail.html"><img src="assets\img\com-5.jpg" class="img-responsive"
                                                    alt=""></a>
                                        </div>
                                        <div class="brows-job-position">
                                            <h3><a href="job-apply-detail.html">Chief Executive Officer</a></h3>
                                            <p>
                                                <span>Google</span><span class="brows-job-sallery"><i
                                                        class="fa fa-money"></i>$510 - 700</span>
                                                <span class="job-type bg-trans-success cl-success">Full Time</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="brows-job-location">
                                        <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="brows-job-link">
                                        <a href="job-apply-detail.html" class="btn btn-default">View Profile</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
    
                    <!-- Single Job List -->
                    <div class="item-click">
                        <article>
                            <div class="brows-job-list">
                                <div class="col-md-6 col-sm-6">
                                    <div class="item-fl-box">
                                        <div class="brows-job-company-img">
                                            <a href="job-detail.html"><img src="assets\img\com-7.jpg" class="img-responsive"
                                                    alt=""></a>
                                        </div>
                                        <div class="brows-job-position">
                                            <h3><a href="job-apply-detail.html">Administrative Manager</a></h3>
                                            <p>
                                                <span>Honda</span><span class="brows-job-sallery"><i
                                                        class="fa fa-money"></i>$700 - 800</span>
                                                <span class="job-type bg-trans-warning cl-warning">Part Time</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="brows-job-location">
                                        <p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2">
                                    <div class="brows-job-link">
                                        <a href="job-apply-detail.html" class="btn btn-default">View Profile</a>
                                    </div>
                                </div>
                            </div>
                            <span class="tg-themetag tg-featuretag">Premium</span>
                        </article>
                    </div>
    
                </div>
            </div>
            <div class="row">
                <ul class="pagination d-flex ">
                    <li><a href="#"><i class="ti-arrow-left"></i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="ti-arrow-right"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>