<div class="container">
  <div class="row p-5">
    <form>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="Companyname">Company Name</label>
          <input
            type="text"
            class="form-control"
            id="Companyname"
            placeholder="Company Name "
          />
        </div>
        <div class="form-group col-md-6">
          <label for="Creditpurchase">Credit Purchase</label>
          <input
            type="text"
            class="form-control"
            id="Creditpurchase"
            placeholder="Credit Purchase"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="Creditremaining">Credit Remaining </label>
          <input
            type="text"
            class="form-control"
            id="Creditremaining"
            placeholder="Credit Remaining"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputState">Billing Currency</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="Price">Price /1 Hours Call</label>
          <input
            type="text"
            class="form-control"
            id="Price"
            placeholder="Price /1 Hours Call"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="Entitytoinvoice">Entity To invoice</label>
        <input
          type="text"
          class="form-control"
          id="Entitytoinvoice"
          placeholder="Entity to Invoice"
        />
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputState">Price Rule</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputState">Invoice Contact</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
      </div>

      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="prepaid"
          name="prepaid"
          class="custom-control-input"
        />
        <label class="custom-control-label" for="prepaid">Prepaid</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input
          type="radio"
          id="payasyougo"
          name="payasyougo"
          class="custom-control-input"
        />
        <label class="custom-control-label" for="payasyougo"
          >Pay as you go</label
        >
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <label class="custom-control-label" for="payasyougo">Vat</label>
        <input type="radio" id="vat" name="vat" class="custom-control-input" />
      </div>
      <button type="submit" class="btn btn-primary">Generate Invoice</button>
    </form>
  </div>
</div>
