<loading *ngIf="loader"></loading>
<section class="bottom-search-form">
  <h4 class="search-expert-title" (click)="searchBtn = !searchBtn" [class.search-expert-title-closed]="!searchBtn">
    Search Expert
    <span class="export-title-show" *ngIf="!searchBtn">show</span>
    <span class="export-title-hide" *ngIf="searchBtn">hide</span>
  </h4>
    <form class="bt-form" id="registerform" #f="ngForm" (ngSubmit)="searchExperts(f.value)" *ngIf="searchBtn">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <label class="col-md-4 col-sm-12 input-label">First Name</label>
                <input type="text" class="form-control col-md-8 col-sm-12" ngModel name="first_name" placeholder="First Name" />
            </div>

            <div class="col-md-6 col-sm-6">
                <label class="col-md-4 col-sm-12 input-label">Last Name</label>
                <input type="text" class="form-control col-md-8 col-sm-12" ngModel name="last_name" placeholder="Last Name" />
            </div>

            <div class="col-md-6 col-sm-6">
                <label class="col-md-4 col-sm-12 input-label">Current Employee</label>
                <input type="text" class="form-control col-md-8 col-sm-12" ngModel name="current_employee" placeholder="Current Employee" />
            </div>

            <div class="col-md-6 col-sm-6">
                <label class="col-md-4 col-sm-12 input-label">Previous Employee</label>
                <input type="text" class="form-control col-md-8 col-sm-12" ngModel name="previous_employee" placeholder="Previous Employee" />
            </div>

            <div class="col-md-6 col-sm-6">
                <label class="col-md-4 col-sm-12 input-label">Country</label>
                <select class="form-control col-md-8 col-sm-12" ngModel name="country">
                    <option value="">List of Countries</option>
                    <option *ngFor="let country of countries" value={{country}}>{{country}}</option>
                </select>
            </div>

            <div class="col-md-6 col-sm-6">
                <label class="col-md-4 col-sm-12 input-label">Region</label>
                <select class="form-control col-md-8 col-sm-12" ngModel name="region">
                    <option value="">List of Continent</option>
                    <option *ngFor="let region of regions" value={{region}}>{{region}}</option>
                </select>
            </div>

            <div class="col-md-6 col-sm-6">
                <label class="col-md-4 col-sm-12 input-label">Projects Assigned to</label>
                <input type="text" class="form-control col-md-8 col-sm-12" ngModel name="project_assigned_to" placeholder="Free word search" />
            </div>

            <div class="col-md-6 col-sm-6">
                <label class="col-md-4 col-sm-12 input-label">Keywords</label>
                <input type="text" class="form-control col-md-8 col-sm-12" ngModel name="keywords" placeholder="keywords" />
            </div>

        </div>

        <div class="search-submit"><button type="submit" class="btn btn-primary">Search Expert</button></div>
    </form>
</section>

<div class="brows-job-category" *ngIf="!!searchvalue.length">
  <h4>Experts Found ({{searchvalue.length}})</h4>
  <expert-short-profile *ngFor="let value of searchvalue" [expertData]="value" isShort="1"></expert-short-profile>
</div>

<div class="brows-job-category" *ngIf="noExperts">
    <h4 class="red">No Expert Found</h4>
</div>
