<div class="container">
  <div class="row mt-5">
    <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Expert</th>
          <th scope="col">Client</th>
          <th scope="col">Project Code</th>
          <th scope="col">Project Name</th>
          <th scope="col">Expert Rate</th>
          <th scope="col">Rate to the client per hour</th>
          <th scope="col">Currency for the client</th>
          <th scope="col">Exact Duration for Client</th>
          <th scope="col">Duration Charged for Client</th>
          <th scope="col">Amount Billed Local CCY</th>
          <th scope="col">FX Rate</th>
          <th scope="col">Amount Billed GBP ex VAT</th>
          <th scope="col">VAT rate</th>
          <th scope="col">Amount Billed Local CCY post VAT</th>
          <th scope="col">VAT rate</th>
          <th scope="col">VAT</th>
          <th scope="col">Pay as you go vs Prepaid</th>
          <th scope="col">Pay as you Go Revenue Booked</th>
          <th scope="col">Prepaid Revenue Booked</th>
          <th scope="col">Invoice Number</th>
          <th scope="col">Paid by Client</th>
          <th scope="col">Duration for Expert</th>
          <th scope="col">Rate to Expert / hr</th>
          <th scope="col">Currency for Expert</th>
          <th scope="col">Amount due to expert</th>
          <th scope="col">FX</th>
          <th scope="col">Amount Due in GBP to Expert</th>
          <th scope="col">GBP Net of Expert</th>
          <th scope="col">Expert paid</th>
          <th scope="col">Silverlight Individual</th>
          <th scope="col">Credits to the Silverlight</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>

          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>

          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
