<div class="expert-short-profile row" *ngIf="!!expertData">
  <div class="col-md-2 col-sm-6">
    <div><img src="{{ expertData?.introduction?.picture }}" class="profile-pic" alt="profile-pic" onError="this.src='../../../assets/img/profile.png';"/></div>
    <h6>{{ expertData?.introduction?.first_name }} {{ expertData?.introduction?.last_name }}</h6>
    <a href="JavaScript:Void(0);" (click)="profileDetail()" *ngIf="isShort == 1"><img src="https://www.trzcacak.rs/myfile/detail/366-3664287_png-file-view-details-icon-png.png" class="linkedin-icon" style="width: 40px"/></a>
    <a href="{{ expertData?.linkedin_url }}" target="_blank"><img src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-22-512.png" class="linkedin-icon"/></a>
    <label class="profile-select" *ngIf="isShort == 1"><input type="checkbox"/> Select</label>

  </div>

  <div class="col-md-6 col-sm-12">
    <div class="col-md-12 col-sm-12 row margin-top-10">
      <div class="col-md-6 col-sm-12 info-label padding-0">Telephone</div>
      <div class="col-md-6 col-sm-12 padding-0">{{ expertData.telephone? expertData.telephone: '' }}</div>
    </div>
    <div class="col-md-12 col-sm-12 row margin-top-10">
      <div class="col-md-6 col-sm-12 info-label padding-0">Current Position</div>
      <div class="col-md-6 col-sm-12 padding-0" *ngIf="!!expertData.experiences?.length">{{ expertData.experiences[0]?.position_name }}</div>
    </div>
    <div class="col-md-12 col-sm-12 row">
      <div class="col-md-6 col-sm-12 info-label padding-0">Previous Positions</div>
      <div class="col-md-6 col-sm-12 previous-positions padding-0">
        <ol class="previous-exp-list">
          <li *ngFor="let record of checkArray(expertData.experiences) | slice:1; let i = index">
            {{ record.position_name? record.position_name: '' }} in <b>{{ record.company_name? record.company_name: '' }}</b>
          </li>
        </ol>
      </div>
    </div>

    <div class="col-md-12 col-sm-12 row margin-top-10 margin-bottom-10">
      <div class="col-md-12 col-sm-12 info-label padding-0">Rating Comments</div>
      <div class="col-md-12 col-sm-12 previous-positions">
          <div *ngIf="expertData?.summary?.text?.length > 1">{{ expertData?.additional_info?.text }} </div>
          <div *ngIf="expertData?.summary?.text == null">No comments found</div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12">
    <div class="col-md-12 col-sm-12 row margin-top-10">
      <div class="col-md-6 col-sm-12 info-label padding-0">Email</div>
      <div class="col-md-6 col-sm-12 padding-0">{{ expertData.email? expertData.email: '' }}</div>
    </div>

    <div class="col-md-12 col-sm-12 row margin-top-10">
      <div class="col-md-4 col-sm-12 info-label padding-0">Location</div>
      <div class="col-md-8 col-sm-12 padding-0">{{ expertData?.introduction?.location_name }}</div>
    </div>
    <div class="col-md-12 col-sm-12 row margin-top-10">
      <div class="col-md-4 col-sm-12 info-label padding-0">Default Rate</div>
      <div class="col-md-8 col-sm-12 padding-0">{{ expertData.default_rate? expertData.default_rate: "" }}</div>
    </div>
    <div class="col-md-12 col-sm-12 row margin-top-10" >
      <div class="col-md-12 col-sm-12 info-label padding-0">Projects</div>
      <div class="col-md-12 col-sm-12 projects padding-0" *ngIf="isShort == 1">
        <div *ngIf="!expertData.projects?.length">No projects found</div>
        <table border="1" *ngIf="expertData.projects?.length">
          <tr><th>No.</th><th>Name</th><th>Start</th><th>End</th></tr>
          <tr *ngFor="let project of expertData.projects; let i= index">
            <td>{{ i+1 }}</td>
            <td>{{ project?.name }}</td>
            <td>{{ project?.time_period?.start?.month }}</td>
            <td>{{ project?.time_period?.end?.month }}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-12 col-sm-12 projects padding-0" *ngIf="!isShort">
        <div *ngIf="!projectList && !projectList.length">No project assigned to this expert</div>
        <table border="1" *ngIf="!!projectList && !!projectList.length">
          <tr><th>No.</th><th>Name</th><th>Owner</th><th>Team</th><th>Status</th><th>Action</th></tr>
          <tr *ngFor="let project of projectList; let i= index">
            <td>{{ i+1 }}</td>
            <td>{{ project?.projectId?.projectName }}</td>
            <td>{{ project?.projectId?.projectOwner }}</td>
            <td>{{ project?.projectId?.projectteam }}</td>
            <td>{{ project?.projectId?.projectStatus }}</td>
            <td><a href="javascript:void(0)">View</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
