.expert-short-profile{
  border: 1px solid #80808052;
  margin: 0px;
  padding-top: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.expert-short-profile:hover {
  background: honeydew;
}
.expert-short-profile .profile-pic {
  width: 100%;
  border: 1px solid #c3c3c3;
}

.expert-short-profile h6 {
  text-align: center;
}

.linkedin-icon {
  width: 50px;
  float: right;
}

.profile-select {
  margin-top: 15px;
}

.info-label {
  font-weight: bold;
}

.previous-positions {
  padding: 5px;
  /* border: 1px solid #c3c3c3; */
}

.previous-positions p {
  margin: 0;
}

.projects{
  height: 100px;
  overflow-y: auto;
}
.projects table{
  width: 100%;
  font-size: 11px;
  border-color: grey;
  border: 1px solid grey;
}

.projects table th, .projects table td{
  padding: 3px;
}

.projects table th{
  background: grey;
  color: white;
}
