<!-- Basic Full Detail Form Start -->
<section class="full-detail mt-5">
  <div class="container">
    <div class="row bottom-mrg extra-mrg">
      <form
        class="form-row"
        id="projectinfo"
        #f="ngForm"
        (ngSubmit)="createProfile(f.value)"
      >
        <h2 class="detail-title col-md-12">Project Information</h2>

        <div class="col-md-6 col-sm-6">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-flag"></i></span>
            <input
              type="text"
              name="projectName"
              ngModel
              class="form-control"
              placeholder="Project Name"
            />
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
            <input
              type="text"
              class="form-control"
              name="projectNumber"
              ngModel
              placeholder="Project Number"
            />
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="input-group">
            <span class="input-group-addon"
              ><i class="fa fa-envelope"></i
            ></span>
            <input
              type="text"
              class="form-control"
              name="projectCode"
              ngModel
              placeholder="Project Code "
            />
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="input-group">
            <span class="input-group-addon"
              ><i class="fa fa-map-marker"></i
            ></span>
            <input
              type="text"
              class="form-control"
              name="projectOwner"
              ngModel
              placeholder="Project Owner"
            />
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-globe"></i></span>
            <input
              type="text"
              class="form-control"
              name="projectteam"
              ngModel
              placeholder="Project Team"
            />
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-globe"></i></span>
            <input
              type="text"
              class="form-control"
              ngModel
              name=""
              placeholder="Date Created"
            />
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <!-- <div class="input-group">
            <input type="text" class="form-control" placeholder="Client Name" />
          </div> -->
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-globe"></i></span>
            <select class="form-control">
              <option>Client Name</option>
              <option>Full Time</option>
              <option>Part Time</option>
              <option>Freelancer</option>
              <option>Internship</option>
            </select>
          </div>
        </div>
        <div class="custom-control custom-switch">
          <input
            type="checkbox"
            class="custom-control-input"
            id="projectstatus"
          />
          <label class="custom-control-label" for="projectstatus"
            >Project Status</label
          >
        </div>

        <div class="col-md-12 col-sm-12">
          <textarea
            class="form-control textarea"
            placeholder="Project Decription"
          ></textarea>
        </div>
        <h2 class="detail-title col-md-12">Client Contact</h2>
        <div class="mb-3">
          <button class="btn btn-primary">Create Contact</button>
        </div>
        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mark</td>
              <td>test@mail.com</td>
            </tr>
            <tr>
              <td>Jacob</td>
              <td>test@mail.com</td>
            </tr>
          </tbody>
        </table>

        <button class="btn btn-primary small-btn btn-block">Submit</button>
      </form>
    </div>

    <h2 class="detail-title col-md-12">Expert Assign To this Project</h2>
    <div class="row bottom-mrg extra-mrg">
      <div class="ur-detail-wrap top-lay">
        <div class="ur-detail-box">
          <div class="ur-thumb">
            <img src="assets/img/profile.jpg" class="img-responsive" alt="" />
          </div>
          <div class="ur-caption col-md-3">
            <h4 class="ur-title"><b>Name:</b> Hanzala Mehmood</h4>
            <p class="ur-location"><b>Email:</b> Hanzala@gmail.com</p>
            <p class="ur-designation"><b>Phone:</b> +923008540960</p>
          </div>
          <div class="col-md-7">
            <form class="form-row">
              <div class="input-group col-md-12">
                <select class="form-control">
                  <option>Silverlight Owner</option>
                  <option>$</option>
                  <option>Rs</option>
                </select>
              </div>

              <div class="input-group col-md-6">
                <input type="text" class="form-control" placeholder="/ Hr" />
              </div>
              <div class="input-group col-md-6">
                <select class="form-control">
                  <option>Rate</option>
                  <option>$</option>
                  <option>Rs</option>
                </select>
              </div>
              <div class="col-md-12 col-sm-12">
                <textarea
                  class="form-control textarea"
                  placeholder="Project Decription"
                ></textarea>
              </div>
            </form>
          </div>
        </div>

        <div class="ur-detail-btn">
          <a
            href="javascript:void(0)"
            data-toggle="modal"
            data-target="#apply-job"
            class="btn btn-warning mrg-bot-10 full-width"
            ><i class="ti-star mrg-r-5"></i>Profile</a
          ><br />
          <a href="#" class="btn btn-info full-width"
            ><i class="ti-linkedin mrg-r-5"></i> Linkedin</a
          >
        </div>
      </div>
    </div>
    <div class="row">
      <h2 class="detail-title col-md-12">Project</h2>
      <div class="mb-3">
        <button class="btn btn-primary">Book Call</button>
      </div>
      <div class="col-md-12">
        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Project title</th>
              <th scope="col">Started Date</th>
              <th scope="col">Client Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <a href="javascript:void(0)" class="btn btn-primary">Create Profile</a>
      </div>
      <div class="offset-md-5"></div>
      <div class="col-md-3">
        <a href="javascript:void(0)" class="btn btn-danger mr-1"
          >Email Export</a
        >
        <a href="javascript:void(0)" class="btn btn-primary">Export PDF</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="sidebar-wrapper">
          <div class="sidebar-box-header bb-1">
            <h4>Expert Call Booked</h4>
          </div>

          <div class="item-click">
            <article>
              <div class="brows-job-list">
                <div class="col-md-4 col-sm-4">
                  <div class="item-fl-box">
                    <div class="brows-job-position">
                      <h3>
                        <a href="#">Expert:Jone</a>
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-8 col-sm-8">
                  <form class="form-row">
                    <div class="input-group col-md-6">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Rate Comments"
                      />
                    </div>
                    <div class="input-group col-md-3">
                      <select class="form-control"
                        ><option>Rate</option
                        ><option>$</option
                        ><option>Rs</option></select
                      >
                    </div>
                    <div class="input-group col-md-3">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="/ Hr"
                      />
                    </div>
                  </form>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Basic Full Detail Form End -->
