.input-group i {
  padding: 15px;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(3.25rem + 2px);
}
.item-click select.form-control:not([size]):not([multiple]),
.ur-detail-wrap select.form-control:not([size]):not([multiple]) {
  height: calc(3rem + 2px);
}
.table thead th,
.table td {
  text-align: center;
}

.table .thead-dark th {
  color: #000;
  background: #fbfdff;
  border: 1px solid #ddd;
}
.full-card {
  padding-bottom: 0px;
}
.full-card p {
  margin: 0px;
}
.ur-detail-wrap.top-lay {
  transform: translateY(20px);
  padding: 1em;
}
.ur-thumb img {
  width: 132px;
}
.ur-detail-wrap.top-lay .textarea {
  height: 70px;
}
