.ur-thumb img {
  width: 131px;
}
.brows-job-position .job-type {
  margin-left: -23px;
}
.brows-job-list {
  padding: 10px;
}
.brows-job-company-img img {
  height: 100px;
}
.top-mrgin {
  margin-top: 130px;
}
